{% if page.previous or page.next %}
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a><br>
    {% else %}
      <a href="#">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a><br>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a><br>
    {% else %}
      <a href="#">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a><br>
    {% endif %}
{% endif %}