<meta charset="utf-8">

{% include upj_seo.html %}

{% unless site.atom_feed.hide %}
<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"
    type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- For all browsers -->
<script src="https://kit.fontawesome.com/495b78ac0e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="shortcut icon" type="image/x-icon" href="/assets/icons/favorite.ico" />