@font-face{
  font-family:upj_bit;
  src:url(BitstreamVeraSansMono.ttf);
}
@font-face{
  font-family:upj_nanum;
  src:url(NanumBarunGothic.ttf);
}

#content-body {
  margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding-top: 20px;
}

code {
  color: #212529;
}

.highlight {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  white-space: pre;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px 0.1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  white-space: pre-line;
}
